
@{
    ViewBag.Title = "ProductReview";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

    <h1>Hello,
         we are pleased for visiting you to our site. 
    </h1>

<p> <a href="~/AddProducts/Create" style="background-color:black" class="btn btn-primary btn-lg"> Products </a></p>
<p> <a href="~/Categories/Create" style="background-color:black" class="btn btn-primary btn-lg">  Categories </a></p>
<p> <a href="~/AddProducts/SearchProduct" style="background-color:black" class="btn btn-primary btn-lg"> Seearch Product </a></p>
<p> <a href="~/Feedbacks/Create" style="background-color:black" class="btn btn-primary btn-lg"> Feedbacks </a></p>