@model Product_Review_System.Models.Feedback

@{
    ViewBag.Title = "ViewFeedback";
}

    <h2>Feedbacks</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YourFeedback)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YourFeedback)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
