body {
    padding-top: 100px;
}

.navbar-default {
    background-color: #0c0c0c;
    border-color: #e7e7e7;
    }

.navbar-default .navbar-nav > li > a {
        color: #fffefe;
    }

.navbar-default .navbar-nav > li > a:hover {
        color: #e7e7e7;
    }

.nav > li {
    position: relative;
    display: block;
    height: 75px;
    padding-top: 10px;
}

.myfooter {
    background-color: black;
    padding: 10px;
    color: white;
}

.myfooter h3, ul, p {
        margin-bottom: 20px;
    }


.myfooter h3, ul, p {
        margin-bottom: 20px;
    }

.logo-size {
    width: 80px;
    height: 75px;
    margin-top: -15px;
}
