@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This system is used to help a user to get a product at its best choice and best price.This system allows the user to look into a product whith different reviews and rating rated by other users and for his simplicity the system shows the overall average rating of that product.The system also allows the user to compare 2 products of the same kind or same category and to rate and review the product as he wishes too but limiting to only once per product.The system gives a list of sellers and its price offered which is added by the admin for the user's convenience and preference.The users role is to check out for the product using all the resources offered by the system in finding the best product and give his rating and review. The user is also allowed to give his feedback.The admin is responsible to add update or delete a product while adding seller's information as well and likewise view users and their feedbacks</p>
